
.loading {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .desc {
    line-height: 20px;
    font-size:14px;
    color:black;
    padding-left: 8px;
  }
}
