.course-tabs {
  .item {
    //padding: 0 0.3rem;
    //opacity: 0.5;
    img {
      width: 0.75rem;
      height: 0.75rem;
    }
    p {
      text-align: center;
    }
  }

  :global {
    .am-tab-bar-bar {
      height: 1.5rem;
    }
  }
}



