.course-tabs {
  .item {
    img {
      width: 0.75rem;
      height: 0.75rem;
    }
    p {
      text-align: center;
    }
  }

  :global {
    .am-tab-bar-bar {
      height: 1.5rem;
    }
  }
}



