.header {
  width: 100%;
  height: .9rem;
  background: #ffffff;
  position: relative;
  display: flex;
  .head_img{
    display: flex;
    align-items: center;
    img{
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      margin:0 .3rem ;
    }
  }
  .right {
    div{
      left: auto !important;
      right:.3rem
    }
  }
}