.comment-lists {
    width: 7.5rem;
    background: #ffffff;
  }
  .comment-list {
    padding: 7.5px 15px;
    border-bottom: 1px solid #d6f1ff;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .head-img {
        width: .8rem;
        height: .8rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .title{
        margin-right: 1rem;

      }
    }
    .list-content {
      font-size: 16px;
      margin-left: 1.5rem;
      margin-top: .2rem;
      margin-bottom: .2rem;
    }
  }

