.top{
  width: 100%;
  height: 3.8rem;
  background: url("http://test.hihiworld.com/web/static/img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .headImg{
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 3.1rem;
    top: .6rem;

    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    p{
      text-align: center;
      color: #ffffff;
      font-size: 22px;
      margin-top: .5rem;
    }
  }
}