.status-btn {
  padding: 4px 8px;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  white-space:nowrap;
}

.status-w{
  background: #000;
  color: #fbff05;
}
.status-l{
  background: #000;
  color: #36f0ff;
}